

<div class="text-center p-2 bg-info mb-2">
  <h5 class=" mat-title  text-bolder  text-strong-5 m-1 "><span class=" text-light text-border-dark text-bold-1 shadow-strong-5 z-depth-3">SHOP</span></h5>   
  </div>
    
  <div>
<mat-card class="example-card" style="background-color:beige">
    <mat-card-title-group>
      <mat-card-title>Item 1</mat-card-title>
      <mat-card-subtitle><span class="badge bg-warning mt-1">VASE</span>
      </mat-card-subtitle>
      
      <img class="img-fluid " mat-card-lg-image src="\assets\pexels-elti-meshau-333850-1648053823356.jpg" >
    </mat-card-title-group>
    <mat-card-content class="m-3 text-center">
      {{longText}}
    </mat-card-content>
    <mat-card-actions class="border-top">
      <button mat-button text-strong class="border-bottom border-top border-dark mat-raised-button" color="primary">VIEW</button>
      <button mat-button class="border-bottom border-top border-primary mat-raised-button ">SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>

        
<mat-card class="example-card" style="margin-top: 1vh; background-color:beige">
    <mat-card-title-group>
      <mat-card-title>Item 2</mat-card-title>
      <mat-card-subtitle><span class="badge bg-warning mt-1">VASE</span>
      </mat-card-subtitle>
            <img class="img-fluid" mat-card-lg-image src="\assets\images (2)-1646993218627.jpeg" >
    </mat-card-title-group>
    <mat-card-content class="m-3 text-center">
      {{longText}}
    </mat-card-content>
    <mat-card-actions class="border-top border-4px">
      <button mat-button text-strong class="border-bottom border-top border-primary mat-raised-button"  color="primary">VIEW</button>
      <button mat-button class="border-bottom border-top border-primary mat-raised-button ">SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>


        <mat-card class="example-card" style="margin-top: 1vh; background-color:beige">
          <mat-card-title-group>
            <mat-card-title>Item 3 </mat-card-title>  
                <mat-card-subtitle><span class="badge bg-warning mt-1">VASE</span>
            </mat-card-subtitle>
            <img class="img-fluid" mat-card-lg-image src="\assets\pexels-aleksandar-pasaric-325185.jpg" >
          </mat-card-title-group>
          <mat-card-content class="m-3 text-center">
            {{longText}}
          </mat-card-content>
          <mat-card-actions class="border-top border-4px ">
            <button mat-button text-strong class="border-bottom border-top border-primary mat-raised-button mat-raised-button " color="primary">VIEW</button>
            <button mat-button class="border-bottom border-top border-primary mat-raised-button ">SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>

        <mat-card class="example-card" style="margin-top: 1vh; background-color:beige">
          <mat-card-title-group>
            <mat-card-title>Item 4</mat-card-title>
            <mat-card-subtitle><span class="badge bg-warning mt-1">VASE</span>
            </mat-card-subtitle>         
               <img class="img-fluid" mat-card-lg-image src="\assets\pexels-jeffrey-czum-4526153.jpg" >
          </mat-card-title-group>
          <mat-card-content class="m-3 text-center">
            {{longText}}
          </mat-card-content>
          <mat-card-actions class="border-top border-4px">
            <button mat-button text-strong class="border-bottom border-top border-primary mat-raised-button " color="primary">VIEW</button>
            <button mat-button class="border-bottom border-top border-primary mat-raised-button ">SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>

        <mat-card class="example-card" style="margin-top: 1vh; background-color:beige">
          <mat-card-title-group>
            <mat-card-title>Item 5</mat-card-title>
            <mat-card-subtitle><span class="badge bg-warning mt-1">VASE</span>
            </mat-card-subtitle>
                        <img class="img-fluid" mat-card-lg-image src="\assets\stars in key.jpg" >
          </mat-card-title-group>
          <mat-card-content class="m-3 text-center">
            {{longText}}
          </mat-card-content>
          <mat-card-actions class="border-top border-4px">
            <button mat-button text-strong class="border-bottom border-top border-primary mat-raised-button " color="primary">VIEW</button>
            <button mat-button class="border-bottom border-top border-primary mat-raised-button ">SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>

        <mat-card class="example-card" style="margin-top: 1vh; background-color:beige">
          <mat-card-title-group>
            <mat-card-title>Item 6</mat-card-title>
            <mat-card-subtitle><span class="badge bg-warning mt-1">VASE</span>
            </mat-card-subtitle>
                        <img class="img-fluid" mat-card-lg-image src="\assets\pexels-elti-meshau-333850-1648053823356.jpg" >
          </mat-card-title-group>
          <mat-card-content class="m-3 text-center">
            {{longText}}
          </mat-card-content>
          <mat-card-actions class="border-top border-4px">
            <button mat-button text-strong class="border-bottom border-top border-primary mat-raised-button" color="primary">VIEW</button>
            <button mat-button class="border-bottom border-top border-primary mat-raised-button">SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>

        <mat-card class="example-card" style="margin-top: 1vh; background-color:beige">
          <mat-card-title-group>
            <mat-card-title>Item 7</mat-card-title>
            <mat-card-subtitle><span class="badge bg-warning mt-1">VASE</span>
            </mat-card-subtitle>           
             <img class="img-fluid" mat-card-lg-image src="\assets\pexels-aleksandar-pasaric-325185.jpg" >
          </mat-card-title-group>
          <mat-card-content class="m-3 text-center">
            {{longText}}
          </mat-card-content>
          <mat-card-actions class="border-top border-4px">
            <button mat-button text-strong class="border-bottom border-top border-primary mat-raised-button " color="primary">VIEW</button>
            <button mat-button class="border-bottom border-top border-primary mat-raised-button ">SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>

