

  <app-carousel class=" mb-3 "></app-carousel>

<mat-divider class="mt-1"></mat-divider>

<div class="text-center p-2 bg-info">
<h5 class=" mat-title  text-bolder  text-strong-5 m-1 "><span class=" text-light text-border-dark text-bold-1 shadow-strong-5 z-depth-3">What's New?</span></h5>   
</div>

<div class="m-0">

  

    <mat-grid-list cols="4" rowHeight="25vh" class="mt-0">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
          {{tile.text}}
        </mat-grid-tile>
      </mat-grid-list>

    </div>


        <div class=" text-center gap-2 pb-2 mt-0 bg-info pt-2">
          <span class="z-depth-5 bg-info">
            <button class="btn-sm border-dark btn-dark text" type="button">VIEW MORE AT SHOP</button>
         </span>
        </div> 
    <mat-divider></mat-divider>

    


    








