
<img alt="item" [src]="">


<mat-divider class="mt-1"></mat-divider>

<div class="text-center p-2 bg-info">
<h5 class=" mat-title  text-bolder  text-strong-5 m-1 "><span class=" text-light text-border-dark text-bold-1 shadow-strong-5 z-depth-3">What's New?</span></h5>   
</div>

<div class="m-0">

  
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><app-carousel></app-carousel></mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

    </div>


        <div class=" text-center gap-2 pb-2 mt-0 bg-info">
          <span class="z-depth-4 bg-dark">
            <button class="btn-sm border-light btn-dark text" type="button">View More</button>
         </span>
        </div> 
    <mat-divider></mat-divider>

    


    








